.ball {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;

  &_1 {
    width: 500px;
    height: 500px;
    left: calc(50% - 550px);
    top: 150px;
    background-image: url('./assets/ball/1.png');

    &::before {
      content: "";
      position: absolute;
      background-color: #aaa;
      top: -210px;
      left: calc(50% - 47px);
      width: 4px;
      height: 220px;
      width: 5px;
    }
  }
}