.card{
  display: grid;
  grid-template-areas: 
    "title title"
    "img values"
    "ribbon values";
  grid-template-columns: 40% 60%;
  align-items: center;
  width: 100%;
  min-height: 20rem;
  padding: 2rem 1rem 1rem 2rem;
  border-radius: 10px;
  border: 1px solid #278D9F;
  background-color: rgba(31, 112, 127, 0.3);
  cursor: pointer;
  animation: scale 0.5s;

  @media (max-width: $break-laptop) {
    font-size: var(--h3-font-size);
    padding: 1rem 0.7rem 1rem 0.7rem;
  }

  
  &__title {
    grid-area: title;
    font-size: var(--h2-font-size);
    letter-spacing: 0.2rem;
    font-weight: 600;

    @media (max-width: $break-laptop) {
      font-size: var(--h3-font-size);
      font-weight: 400;
    }
  }

  &__values {
    grid-area: values;
    font-size: 20px;
  }

  &__values p {
    @media (max-width: $break-laptop) {
      margin: 0.7rem 0;
    }
  }
    

  &__img {
    grid-area: img;
    width: 90%;
    object-fit: contain;
  }

  &__ribbon {
    position: relative;
    left:-3rem;
    grid-area: ribbon;
    width: 10rem;
    height: 4rem;
    background: #24C5DB;

    @media (max-width: $break-laptop) {
      left:-1.5rem;
      width: 6rem;
      height: 3rem;
    }

    &:after {
      content: "";
      position: absolute;
      border-top: 2rem solid transparent;
      border-bottom: 2rem solid transparent;
      border-left: 1.5rem solid #24C5DB;
      right: -1.5rem;

      @media (max-width: $break-laptop) {
        border-top: 1.5rem solid transparent;
        border-bottom: 1.5rem solid transparent;
        border-left: 1rem solid #24C5DB;
        right: -1rem;
      }
    }

    &:before {
      content: "";
      position: absolute;
      border-bottom: 8px solid #00a9f5;
      border-left: 8px solid transparent;
      top: -8px;
    }
  }

  &.active &__ribbon{
    background: #CBB77A;

    &:after {
      border-left: 1.5rem solid #CBB77A;
      @media (max-width: $break-laptop) {
      border-left: 1rem solid #CBB77A;
      }
    }

    &:before {
      border-bottom: 0.8rem solid #CBB77A;
    }

  }
}

@keyframes scale {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}