.cart {
  display: flex;
  width: 4.8rem;
  height: 6rem;
  justify-content: center;
  align-items: center;
  background: url('./assets/svg/ball-2.svg') no-repeat ;
  background-size: cover;
  background-position: left -8px;
  transition: 0.3s;

  @media (max-width: $break-laptop) {
    width: 3rem;
    height: 4rem;
  }

  &__count {
    display: block;
    position: relative;
    top: 0.2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    text-align: center;
    line-height: 4.3rem;
    font-size: var(--h3-font-size);
    background-color: #278D9F;

    @media (max-width: $break-laptop) {
      width: 2.6rem;
      height: 2.6rem;
      line-height: 2.6rem;
      top: -0.2rem;
      font-size: var(--h4-font-size);
    }
  }
}