.logo {
  width: 4.8rem;
  height: 6rem;
  background-image: url('./assets/svg/tree.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.3s;

  @media (max-width: $break-mobile-L) {
    width: 4rem;
  height: 5rem;
  }
}