.menu {
  display: grid;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  margin: 2rem 0;

  @media (max-width: $break-laptop) {
    margin: 1rem 0;
  }

  &_tree {
    grid-template-columns: repeat(3, 1fr);
    @media (max-width: $break-laptop) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &_background {
    grid-template-columns: repeat(4, 1fr);

    @media (max-width: $break-laptop) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &_garland {
    grid-template-columns: repeat(6, 1fr);
    @media (max-width: $break-laptop) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &_toys {
    grid-template-columns: repeat(4, 1fr);
    @media (max-width: $break-laptop) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &_audio,
  &_snow {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    margin: 1rem;
    background-image: url('./assets/svg/snow.svg');
    background-repeat: no-repeat;
    background-size: contain;

    &:hover {
      opacity: 0.6;
    }

    @media (max-width: $break-laptop) {
      width: 3rem;
      height: 3rem;
      }
  }

  &_snow {
    background-image: url('./assets/svg/snow.svg');
  }

  &_audio {
    background-image: url('./assets/svg/mute.svg');

    &.active {
      background-image: url('./assets/svg/audio.svg');
    }
  }

  &__title {
    width: 100%; 
    font-size: var(--h3-font-size);
    line-height: 4rem;
    grid-column: 1/-1;
    margin: 2rem 0 1rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.1rem;

    @media (max-width: $break-laptop) {
      display: none;
      margin: 1rem 0 0.8rem;
      font-size: var(--h4-font-size);
      line-height: 2rem;
    }
  }

  &__item {
    position: relative;
    width: 100%;
    height: 7rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .5);
    background-size: auto 110px;
    object-fit: contain;

    @media (max-width: $break-laptop) {
      height: 6rem;
    }
  }

  &__item_background {
    object-fit: cover;
    @media (max-width: $break-laptop) {
      height: 5rem;
    }
  }

  &__item_toy {
    height: 10rem;
    width: 10rem;
    padding: 1rem;

    @media (max-width: $break-laptop) {
      height: 6rem;
      width: 6rem;
      padding: 0.5rem;
    }
  }

  &__item_count {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    border-radius: 10px;
    background-color: #278D9F;
    font-size: 1.6rem;
    font-weight: 400;

    @media (max-width: $break-laptop) {
      width: 1.5rem;
      height: 1.5rem;
      line-height: 1.5rem;
      font-size: 1.2rem;
    }
  }

  &__toy {
    //height: 6rem;
    width: 8rem;

    @media (max-width: $break-laptop) {
      width: 6rem;
    }
  }


}