.sort {
  color: #fff;

  &__select {
    appearance: none;
    border: 0;
    outline: 0;
    width: 380px;
    height: 40px;
    padding: 5px 25px;
    margin: 0 0 130px;
    background-color: rgba(31, 112, 127, .3);
    background: url('./assets/svg/arrow-down.svg') no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: 20px;
    border-radius: 20px;
    border: 1px solid #278D9F;
    color: inherit;
    cursor: pointer;
  }

  &__option {
    background-color: #183E42;
    color: inherit;
  }
}