.noUi-horizontal .noUi-handle {
  height: 18px;
  width: 18px;
  top: -3px;
  right: -9px; /* half the width */
  border-radius: 9px;
}

.noUi-touch-area {
  position: absolute;
  height: 36px;
  width: 36px;
  top: -10px;
  right: -10px;
  border-radius: 9px;
}

.noUi-connect {
  background: #278D9F;;
}

.noUi-horizontal {
  height: 10px;
}

.noUi-handle:before, .noUi-handle:after {
  display: none;
}

.noUi-target {
  border: none;
}