.header {
  position: relative;
  width: 100%;
  background-color: #121C1E;
  z-index: 10;
  
  &__container {
    position: relative; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 1rem;

    @media (max-width: $break-mobile-L) {
      align-items: flex-start;
      padding: 1rem;
    }
  }
}