.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 2;

  @media (max-width: $break-mobile-L) {
    flex-direction: column;

  }

  &__links {
    display: flex;
    position: relative;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 2rem;
    transition: .3s;

    @media (max-width: $break-mobile-L) {
      padding: 1rem;
    }
  }
}