.output {
  margin: 1rem 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 8rem;
  height: 4rem;
  backdrop-filter: blur(6px);
  border-radius: 20px;
  border: 1px solid #278D9F;

  @media (max-width: $break-mobile-L) {
    min-width: 5rem;
    height: 3rem;
  }
}