.settings {
  display: none;
  position: absolute;
  top: 1rem;
  left: 2rem;
  width: 4rem;
  height: 4rem;
  background: url('./assets/svg/gear.svg') no-repeat;
  background-size: 4rem;
  color: #fdfdfdad;
  transition: 0.5s;

  @media (max-width: $break-mobile-L) {
    display: block;
    z-index: 10;
  }

  &__check {
    visibility: hidden;
  }

  & ~ .control{
    transition: left 0.5s;
    @media (max-width: $break-mobile-L) {
      left: -100%;
    }
  }

  &__check:checked ~ .settings {
    transform: rotate(180deg);
  }

  &__check:checked ~ .control{
    @media (max-width: $break-mobile-L) {
      left: 0;
    }
  }
}