$bg-dark: #030303;
$bg-light: #e5e5e5;
$bg-round-bullet: #999999;
$bg-round-bullet-marked: #333333;
$bg-credit-card: #bcbcbc;
$bg-credit-card_back: #939393;

$dark-red: #710707;
$font-gold: #9d8665;
$font-size-title: 80px;
$font-size-title-small: 50px;
$font-size-2: 32px;
$font-size-3: 28px;
$font-size-4: 22px;
$font-size-5: 18px;
$font-size-credit-card: 12px;
$font-family-title: "Forum", cursive;
$font-family-main: "Roboto", sans-serif;
$font-color-dark: #030303;
$font-color-light: #fff;
$font-color-credit-card: #161615;
$border-credit-card: #a4a4a3;

$break-laptop: 1440px;
$break-small-laptop: 1024px;
$break-tablet: 768px;
$break-phone: 420px;

$font-size-title-laptop: 50px;
$font-size-title-tablet: 40px;
$font-size-title-phone: 28px;
$font-size-subtitle-laptop: 24px;
$font-size-subtitle-tablet: 20px;
$font-size-subtitle-phone: 16px;
$font-size-2-laptop: 28px;
$font-size-2-tablet: 22px;
$font-size-3-laptop: 24px;
$font-size-3-tablet: 20px;
$font-size-4-laptop: 20px;
$font-size-4-tablet: 18px;
$font-size-5-laptop: 16px;
$font-size-4-phone: 16px;
