$bg-dark: #030303;
$bg-light: #e5e5e5;
$bg-round-bullet: #999999;
$bg-round-bullet-marked: #333333;
$dark-red: #710707;
$font-gold: #9d8665;
$font-size-title: 80px;
$font-size-title-small: 50px;
$font-size-2: 32px;
$font-size-3: 28px;
$font-size-4: 22px;
$font-size-5: 18px;
$font-family-title: "Forum", cursive;
$font-family-main: "Roboto", sans-serif;
$font-color-dark: #030303;
$font-color-light: #fff;
