.switch {
  position: relative;
  width: 8.5rem;
  height: 3.4rem;

  &__checkbox {
    display: none;
  }

  &__label {
    display: block;
    height: inherit;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #999999;
    border-radius: 20px;
  }

  &__inner {
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;

    &:before {
      content: "Вкл";
      box-sizing: border-box;
      float: left;
      width: 50%;
      height: 3rem;
      padding: 0;
      padding-left: 1.2rem;
      line-height: 3.4rem;
      font-size: 1.8rem;
      font-weight: 600;
      background-color: #237E8F;
      color: #fff;
      text-transform: uppercase;
    }

    &:after {
      box-sizing: border-box;
      content: "Выкл";
      background-color: #eee;
      color: #666;
      text-align: right;
      float: left;
      width: 50%;
      height: 3rem;
      padding: 0;
      padding-right: 1.2rem;
      line-height: 3.4rem;
      font-size: 1.8rem;
      font-weight: 600;
      text-transform: uppercase;
    }

  }

  &__checkbox:checked + &__label  &__inner {
    margin-left: 0;
  }

  &__button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5.5rem;
    width: 26px;
    margin: 2px;
    background: #fff;
    border: 2px solid #999;
    border-radius: 2rem;
    transition: all 0.3s ease-in 0s;
  }

  &__checkbox:checked + &__label  &__button {
    right: 0px;
  }
}