.footer__social-icon {
  display: block;
  width: 48px;
  height: 48px;
  border: 1px solid $bg-light;
  border-radius: 50%;
  align-self: flex-end;
  background-position: 50%;
  background-size: 50%;
  background-repeat: no-repeat;
  transition: all 0.3s;

  &:hover {
    background-size: 70%;
    filter: invert(49%) sepia(4%) saturate(3412%) hue-rotate(356deg)
      brightness(110%) contrast(77%);
  }
}

.social-icon_youtube {
  background-image: url("assets/svg/youtube.svg");
}

.social-icon_instagram {
  background-image: url("assets/svg/Instagram.svg");
}

.social-icon_facebook {
  background-image: url("assets/svg/facebook.svg");
}

.social-icon_twitter {
  background-image: url("assets/svg/twitter.svg");
}

.social-icon_pinterest {
  background-size: 60%;
  background-position: 50% 60%;
  background-image: url("assets/svg/pinterest.svg");

  &:hover {
    background-size: 90%;
    background-position: 50% 300%;
  }
}
