.ticket-form {
  display: block;
  font-size: $font-size-4;
  font-weight: 300;
  line-height: 26px;

  &__wrapper {
    font-size: 22px;
    line-height: 26px;
    font-weight: 300;
  }

  &__customize-radio-button,
  &__radio-button {
    box-sizing: border-box;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 5px;
    left: 0;
    opacity: 0;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  &__customize-radio-button {
    opacity: 1;
    border: 3px solid $bg-dark;
    border-radius: 50%;

    &:after {
      content: "";
      box-sizing: border-box;
      position: absolute;
      top: 3px;
      left: 3px;
      display: none;
      height: 6px;
      width: 6px;
      border-radius: 50%;
      background-color: $bg-dark;
    }
  }

  &__radio-label {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 25px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__uppertext {
    width: 100%;
    margin-top: -22px;
    margin-bottom: 15px;
    text-align: left;
  }

  &__button {
    width: 40px;
    height: 45px;
    background-color: transparent;
    font-size: 36px;
    color: $font-color-light;
    border: none;

    &:hover {
      opacity: 0.6;
    }
  }

  &__amount-number {
    width: 70px;
    height: 45px;
    padding: 0;
    background: transparent;
    color: $font-color-dark;
    font-size: $font-size-4;
    line-height: 50px;
    font-weight: 700;
    border: none;
    text-align: center;
    margin: 0 auto;

    &_wide {
      font-size: $font-size-3;
      font-weight: 700;
      width: 70px;
    }
  }
}

.ticket-form__radio-button:checked
  ~ .ticket-form__customize-radio-button::after {
  display: block;
}

.amount-form {
  display: flex;
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  border: 4px solid $bg-dark;
  margin-bottom: 30px;
  padding: 0 4px;
  justify-content: stretch;
}

.buy-ticket__calculator {
  position: relative;
  left: 20px;
  font-size: $font-size-3;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 1.65px;
  margin-top: 15px;
}

.buy-ticket__subtitle {
  display: inline-block;
  font-size: $font-size-3;
  line-height: 33px;
  font-weight: 500;

  &__subtitle_right {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
    position: relative;
  }
}

.button_small {
  position: relative;
  width: 175px;
  height: 50px;
  margin-top: 55px;
  border-radius: 2px;
  line-height: 50px;
  color: $font-color-light;
  background-color: $bg-dark;
}

.button__sign_minus {
  display: block;
  position: relative;
  height: 3px;
  width: 18px;
  background-color: $font-color-dark;
}
.button__sign_plus {
  display: block;
  position: relative;
  right: 0;
  height: 3px;
  width: 18px;
  background-color: $font-color-dark;
}
.button__sign_plus:after {
  content: "";
  display: block;
  position: relative;
  right: 0;
  transform: rotate(90deg);
  height: 3px;
  width: 18px;
  background-color: $font-color-dark;
}
