.navigation {
  max-width: 780px;
  flex-grow: 2;

  &__link {
    display: block;
    padding-left: 4px;
    font-size: $font-size-4;
    font-weight: 200;
    letter-spacing: 2px;
    color: $bg-light;
    line-height: 25px;
    transition: all 0.3s;

    &:hover {
      color: $font-gold;
    }

    &:active {
      color: $font-gold;
    }
  }
}

.navigation_footer {
  max-width: 360px;
  column-gap: 155px;
  justify-content: flex-start;

  & li {
    max-width: 100px;
    flex-grow: 2;
    padding: 12.5px 0;
  }
}
