:root {
  --bg-dark: #030303;
  --bg-light: #e5e5e5;
  --dark-red: #710707;
  --font-gold: #9d8665;
  --font-sise-title: 80px;
  --font-sise-2: 32px;
  --font-sise-3: 28px;
  --font-sise-4: 22px;
  --font-sise-5: 18px;
  --font-family-title: "Forum", cursive;
  --font-family-main: "Roboto", sans-serif;
  --font-color-dark: #000;
  --font-color-light: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;

  font-family: "Roboto", sans-serif;
  font-size: var(--font-sise-5);
  font-weight: 300;
  background-color: var(--bg-light);
}

.card {
  display: block;
  text-decoration: none;
  color: var(--font-color-dark);
  margin-top: 75px;
}

.card:hover .title {
  color: var(--font-gold);
}

.section {
}

.wrapper {
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 75px;
}

.logo__icon {
  display: inline-block;
  position: relative;
  top: 10px;
  width: 50px;
  height: 34px;
  margin-right: 16px;
  background-image: url("assets/svg/logo.svg");
}

.logo {
  transition: all 0.3s;
}

.logo:hover {
  color: var(--font-gold);
  filter: invert(49%) sepia(4%) saturate(3412%) hue-rotate(356deg)
    brightness(110%) contrast(77%);
}

.logo__text {
  display: inline;
  font-family: "Forum", cursive;
  font-size: var(--font-sise-3);
  color: var(--bg-light);
  font-weight: 400;
  letter-spacing: 5px;
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation {
  max-width: 724px;
  flex-grow: 2;
}

.navigation__link {
  display: block;
  padding-left: 4px;

  font-size: var(--font-sise-4);
  font-weight: 200;
  letter-spacing: 2px;
  color: var(--bg-light);
  line-height: 50px;
  transition: all 0.3s;
}
.navigation__link:hover {
  color: var(--font-gold);
}
.navigation__link:active {
  color: var(--font-gold);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.title {
  font-family: var(--font-family-title);
  text-transform: uppercase;
  letter-spacing: 5px;
}

.welcome-louvre__title {
  margin-top: 38px;
  max-width: 600px;
}

.welcome-louvre__subtitle {
  font-size: var(--font-sise-3);
  letter-spacing: 2px;
  margin-bottom: 77px;
}

.welcome-louvre {
  height: 750px;
  background-position: calc(50% + 350px) calc(100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("assets/img/louvre_entrance.jpg");
}

.section__title {
  position: relative;
  font-size: var(--font-sise-title);
  font-weight: 400;
  line-height: 90px;
  color: #9d8665;
}
.section__title_underlined {
  padding-bottom: 26px;
}

.section__title_underlined::after {
  display: block;
  position: relative;
  top: 25px;
  width: 100%;
  height: 3px;
  content: "";
  background-color: #710707;
}

.section_dark {
  background-color: var(--bg-dark);
  color: var(--font-color-light);
}

.section_dark .section__title {
  color: var(--font-color-light);
}

.card__title {
  position: relative;
  font-size: var(--font-sise-2);
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 18px;
}

.card__title::after {
  display: block;
  position: relative;
  top: 9px;
  content: "";
  width: 300px;
  height: 2px;
  background-color: #710707;
  transition: width 0.5s;
}

.card:hover .card__title::after {
  width: 100%;
}

.card__subtitle {
  font-size: var(--font-sise-4);
  font-weight: 200;
  margin-bottom: 12px;
}

.card__subtitle-description {
  font-size: var(--font-sise-5);
  font-weight: 200;
}

.wrapper__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 10px;
}

.wrapper__flex_centered {
  align-items: center;
}

.button {
  border-radius: 10px;
  border: none;
  font-size: var(--font-sise-4);
  font-family: var(--font-family-main);
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  transition: all 0.3s;
}

.button:hover {
  background-color: var(--font-gold);
}

.button_colored {
  width: 360px;
  height: 75px;
  line-height: 75px;
  background-color: #710707;
  color: #fff;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.section__half-width {
  max-width: 720px;
  flex-grow: 2;
}

.section__half-with-gap {
  max-width: 660px;
  flex-grow: 2;
}

.section__text-wrapper {
  padding-top: 55px;
  padding-right: 10px;
}

.section__text {
  font-size: var(--font-sise-4);
  line-height: 39px;
}

.section__text_bold {
  font-weight: 400;
}

.section__text_colored {
  color: var(--font-gold);
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 630px;
  margin-top: 15px;

  background-image: url("assets/img/preview.jpg");
}

.video-wrapper__play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-wrapper__play-icon:hover {
  opacity: 0.5;
}

.video-wrapper__tool-bar {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  column-gap: 5px;
  width: 100%;
  height: 85px;
  padding: 0 41px;
  margin-bottom: 40px;
  background-color: rgba(0, 0, 0);
}
.tool-bar__button {
  display: block;
  height: 30px;
  width: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}
.tool-bar__button:hover {
  opacity: 50%;
}

.tool-bar__previous {
  background-image: url("assets/svg/Previous_button.svg");
}

.tool-bar__play {
  background-image: url("assets/svg/Play_button.svg");
}

.tool-bar__next {
  background-image: url("assets/svg/Next_button.svg");
}

.tool-bar__volume {
  background-image: url("assets/svg/Volume_button.svg");
}

.tool-bar__full-screen {
  height: 36px;
  width: 36px;
  background-image: url("assets/svg/Full_screen_button.svg");
}

.tool-bar__time-bar {
  max-width: 820px;
}

.tool-bar__volume-bar {
  max-width: 155px;
}

.tool-bar__progress {
  height: 8px;
  flex-grow: 2;
  background: linear-gradient(
    to right,
    #24809e 0%,
    #24809e 45%,
    #c4c4c4 45%,
    #c4c4c4 100%
  );
  -webkit-appearance: none;
}

.tool-bar__progress::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border: 1px solid #24809e;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #fff;
}

.video-journey__text {
  max-width: 660px;
  padding: 55px 55px 0 0;
}

.contacts__subtitle {
  display: inline-block;
  font-size: var(--font-sise-3);
  line-height: 33px;
  font-weight: 500;
  margin-bottom: 20px;
}

.buy-tickets__subtitle {
  display: inline-block;
  font-size: var(--font-sise-3);
  line-height: 33px;
  font-weight: 500;
}
.buy-tickets__subtitle_right {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
  position: relative;
}

.wrapper_top-indent {
  padding-top: 75px;
}

.tickets-form {
  display: block;
  font-size: var(--font-sise-4);
  font-weight: 300;
  line-height: 26px;
}

.ticket-form__wrapper {
  font-size: 22px;
  line-height: 26px;
  font-weight: 300;
}

.tickets-form__customize-radio-button,
.tickets-form__radio-button {
  box-sizing: border-box;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.tickets-form__customize-radio-button {
  opacity: 1;
  border: 3px solid var(--bg-light);
  border-radius: 50%;
}

.tickets-form__customize-radio-button::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 3px;
  left: 3px;
  display: none;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--bg-light);
}

.tickets-form__radio-button:checked
  ~ .tickets-form__customize-radio-button::after {
  display: block;
}

.tickets-form__radio-label {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-top: 50px;
  cursor: pointer;
}

.tickets-form__radio-label:hover {
  text-decoration: underline;
}

.ticket-form__uppertext {
  width: 100%;
  margin: 12px 0;
  text-align: left;
}
.amount-form {
  display: flex;
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  border: 3px solid var(--bg-light);
  margin-bottom: 40px;
  padding: 0 4px;
  justify-content: stretch;
}

.ticket-form__button {
  width: 40px;
  height: 45px;
  background-color: transparent;
  font-size: 36px;
  color: var(--font-color-light);
  border: none;
}

.ticket-form__button:hover {
  opacity: 0.6;
}

.ticket-form__amount-number {
  width: 70px;
  height: 45px;
  padding: 0;
  background: transparent;
  color: var(--font-color-light);
  font-size: var(--font-sise-4);
  line-height: 50px;
  font-weight: 300;
  border: none;
  text-align: center;
  margin: 0 auto;
}

.ticket-form__amount-number_wide {
  font-size: var(--font-sise-3);
  font-weight: 400;
  width: 70px;
}

.buy-tickets__calculator {
  position: relative;
  line-height: 33px;
  letter-spacing: 1.65px;
  left: 20px;
  font-weight: 500;
}

.button_small {
  position: relative;
  width: 175px;
  height: 50px;
  margin-top: 45px;
  border-radius: 2px;
  line-height: 50px;
  background-color: var(--bg-light);
}

.button__sign_minus {
  display: block;
  position: relative;
  height: 3px;
  width: 18px;
  background-color: #fff;
}
.button__sign_plus {
  display: block;
  position: relative;
  right: 0;
  height: 3px;
  width: 18px;
  background-color: #fff;
}
.button__sign_plus:after {
  content: "";
  display: block;
  position: relative;
  right: 0;
  transform: rotate(90deg);
  height: 3px;
  width: 18px;
  background-color: #fff;
}

.footer__logo {
  max-width: 300px;
  flex-grow: 2;
}

.navigation_footer {
  max-width: 360px;
  column-gap: 160px;
  justify-content: flex-start;
}

.navigation_footer li {
  max-width: 100px;
  flex-grow: 2;
}

.contacts__link {
  text-decoration: none;
  color: inherit;
}

.contacts__text {
  line-height: 26px;
}

.footer__social-icon-wrapper {
  max-width: 360px;
  column-gap: 20px;
  padding: 10px 0;
  align-self: flex-end;
}

.footer__social-icon {
  display: block;
  width: 48px;
  height: 48px;
  border: 1px solid var(--bg-light);
  border-radius: 50%;
  align-self: flex-end;
  background-position: 50%;
  background-size: 50%;
  background-repeat: no-repeat;
  transition: all 0.3s;
}

.footer__social-icon:hover {
  background-size: 70%;
  filter: invert(49%) sepia(4%) saturate(3412%) hue-rotate(356deg)
    brightness(110%) contrast(77%);
}

.social-icon_youtube {
  background-image: url("assets/svg/youtube.svg");
}

.social-icon_instagram {
  background-image: url("assets/svg/Instagram.svg");
}

.social-icon_facebook {
  background-image: url("assets/svg/facebook.svg");
}

.social-icon_twitter {
  background-image: url("assets/svg/twitter.svg");
}

.social-icon_pinterest {
  background-size: 60%;
  background-position: 50% 60%;
  background-image: url("assets/svg/pinterest.svg");
}

.social-icon_pinterest:hover {
  background-size: 90%;
  background-position: 50% 300%;
}

/*@media (prefers-reduced-motion: no-preference) {*/
.section_visible {
  animation: title-arriving 0.8s 1 ease-out;
}

@keyframes title-arriving {
  0% {
    transform: translateY(100px) scale(0.6);
    opacity: 0;
  }
  80% {
    opacity: 0.5;
  }

  100% {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
}
