html {
  scroll-behavior: smooth;
}

body {
  padding-left: 40px;
  padding-right: 40px;

  font-family: "Roboto", sans-serif;
  font-size: 17px;
  background-color: #e5e5e5;
}

.card {
  display: block;
  text-decoration: none;
  color: #000;
  padding-top: 75px;
}

.section {
  max-width: 1920px;
}

.wrapper {
  max-width: 1440px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-top: 75px;
  padding-bottom: 75px;
}

.logo__icon {
  display: inline-block;
  position: relative;
  top: 8px;
  width: 50px;
  height: 34px;
  margin-right: 16px;
  background-image: url("assets/svg/logo.svg");
}

.logo__text {
  font-family: "Forum", cursive;
  font-size: 28px;
  letter-spacing: 5px;
  line-height: 50px;
  text-transform: uppercase;
}

.logo__text:hover {
  color: #9d8665;
}

.navigation {
  max-width: 724px;
  flex-grow: 2;
}

.navigation_footer {
  max-width: 330px;
}

.navigation__link {
  display: block;
  padding-left: 4px;

  font-size: 21px;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
  line-height: 50px;
}
.navigation__link:hover {
  color: #9d8665;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.title {
  margin-bottom: 26px;
  font-family: "Forum", cursive;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.welcome-louvre__title {
  margin-top: 35px;
  max-width: 600px;
}

.welcome-louvre__subtitle {
  font-size: 27px;
  letter-spacing: 2px;
  margin-bottom: 77px;
}

.welcome-louvre {
  height: 750px;
  background-position: calc(1920px - 1215px) calc(100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("assets/img/louvre_entrance.jpg");
}

.section__title {
  position: relative;
  font-size: 80px;
  font-weight: 400;
  line-height: 90px;
  color: #9d8665;
}

.section__title_underlined::after {
  display: block;
  position: relative;
  top: 25px;
  width: 100%;
  height: 3px;
  content: "";
  background-color: #710707;
}

.section_dark {
  background-color: #030303;
  color: #fff;
}

.section_dark .section__title {
  color: #fff;
}

.card__title {
  position: relative;
  font-size: 32px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 18px;
}

.card__title::after {
  display: block;
  position: relative;
  top: 9px;
  content: "";
  width: 300px;
  height: 2px;
  background-color: #710707;
}

.card__subtitle {
  font-size: 21px;
  margin-bottom: 12px;
}

.wrapper__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 10px;
}

.button {
  border-radius: 10px;
  font-size: 21px;
  letter-spacing: 2px;
  text-align: center;
}

.button:hover {
  background-color: #9d8665;
}

.button_colored {
  width: 360px;
  height: 75px;
  line-height: 75px;
  background-color: #710707;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.section__half-column {
  max-width: 660px;
  flex-grow: 2;
}

.section__text-wrapper {
  padding-top: 60px;
}

.section__text {
  font-size: 22px;
  line-height: 39px;
}

.section__text_small {
  font-size: 21px;
}

.section__text_colored {
  color: #caaa7d;
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 630px;
  margin-top: 10px;
  background-image: url("assets/img/preview.jpg");
}

.video-wrapper__play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-wrapper__play-icon:hover {
  opacity: 0.5;
}

.video-wrapper__tool-bar {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  column-gap: 5px;
  width: 100%;
  height: 85px;
  padding-left: 41px;
  padding-right: 41px;
  background-color: rgba(0, 0, 0);
}
.tool-bar__button {
  display: block;
  height: 30px;
  width: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}
.tool-bar__button:hover {
  opacity: 50%;
}

.tool-bar__previous {
  background-image: url("assets/svg/Previous_button.svg");
}

.tool-bar__play {
  background-image: url("assets/svg/Play_button.svg");
}

.tool-bar__next {
  background-image: url("assets/svg/Next_button.svg");
}

.tool-bar__volume {
  background-image: url("assets/svg/Volume_button.svg");
}

.tool-bar__full-screen {
  height: 36px;
  width: 36px;
  background-image: url("assets/svg/Full_screen_button.svg");
}

.tool-bar__time-bar {
  max-width: 820px;
}

.tool-bar__volume-bar {
  max-width: 155px;
}

.tool-bar__progress {
  height: 8px;
  flex-grow: 2;
  background: linear-gradient(
    to right,
    #24809e 0%,
    #24809e 45%,
    #c4c4c4 45%,
    #c4c4c4 100%
  );
  -webkit-appearance: none;
}

.tool-bar__progress::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border: 1px solid #24809e;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #fff;
}
.video-journey__title {
  margin-top: 40px;
  margin-bottom: 0px;
}

.video-journey__text {
  max-width: 660px;
  padding: 55px 55px 0 0;
}

.contacts__subtitle,
.buy-tickets__subtitle {
  display: inline-block;
  font-size: 28px;
  font-weight: 600;
}
.buy-tickets__subtitle_right {
  text-align: right;
}

.section__wrapper {
  display: flex;
  padding-top: 75px;
  justify-content: space-between;
}

.tickets-form {
  display: block;
  font-size: 21px;
  font-weight: 400;
}

.tickets-form__customize-radio-button,
.tickets-form__radio-button {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0px;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.tickets-form__customize-radio-button {
  opacity: 1;
  border: 2px solid #fff;
  border-radius: 50%;
}

.tickets-form__customize-radio-button::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  display: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #fff;
}

.tickets-form__radio-button:checked
  ~ .tickets-form__customize-radio-button::after {
  display: block;
}

.tickets-form__radio-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 50px;
  cursor: pointer;
  font-size: 21px;
}

.ticket-form__uppertext {
  width: 100%;
  margin-top: 20px;
  font-size: 22px;
  font-weight: 400;
  text-align: left;
}
.amount-form {
  display: flex;
  width: 150px;
  height: 50px;
  border: 3px solid #fff;
  margin-bottom: 50px;
  justify-content: stretch;
}

.ticket-form__button {
  width: 40px;
  height: 50px;
  background-color: transparent;
  font-size: 28px;
  color: #fff;
  border: none;
}

.ticket-form__button:hover {
  opacity: 0.5;
}

.ticket-form__amount-number {
  width: 50px;
  height: 50px;
  padding: 0;
  background: transparent;
  color: #fff;
  border: none;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
}

.ticket-form__amount-number_wide {
  font-size: 28px;
  font-weight: 400;
  width: 70px;
}

.buy-tickets__calculator {
  position: relative;
}

.button_small {
  position: absolute;
  bottom: -50px;
  transform: translate(-100%, 100%);
  width: 175px;
  height: 50px;
  line-height: 50px;
  background-color: #fff;
}

.navigation_footer {
  column-gap: 100px;
  justify-content: flex-start;
}
.navigation_footer li {
  max-width: 105px;
  flex-grow: 2;
}

.contacts__link {
  text-decoration: none;
  color: inherit;
  font-size: 21px;
}

.footer__social-icon-wrapper {
  max-width: 340px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  border: 1px solid #fff;
  border-radius: 50%;
  align-self: flex-end;
  background-position: 50%;
  background-size: 50%;
  background-repeat: no-repeat;
}

.social-icon_youtube {
  background-image: url("assets/svg/youtube.svg");
}

.social-icon_instagram {
  background-image: url("assets/svg/Instagram.svg");
}

.social-icon_facebook {
  background-image: url("assets/svg/facebook.svg");
}

.social-icon_twitter {
  background-image: url("assets/svg/twitter.svg");
}

.social-icon_pinterest {
  background-size: 80%;
  background-position: 50% 100%;
  background-image: url("assets/svg/pinterest.svg");
}
