.art-gallery {
  position: relative;
  height: 2200px;
  overflow: hidden;

  &:after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 360px;
    width: 100%;
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  }
}
