.buy-ticket__subtitle {
  display: block;
  font-size: $font-size-3;
  line-height: 33px;
  font-weight: 500;
  margin-bottom: 50px;

  &_right {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
    position: relative;
  }
}
