.welcome-louvre {
  position: relative;
  height: 810px;
  /*
  background-position: calc(50% + 350px) calc(100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("assets/img/louvre_entrance.jpg");
  */

  &__title {
    margin-top: 38px;
    max-width: 600px;
  }

  &__subtitle {
    font-size: $font-size-3;
    letter-spacing: 2px;
    margin-bottom: 77px;
  }
}
