@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
}

.slider-container {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
}

.left-slides {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 40%;
  top: 0;
  left: -12%;
  transform: skew(-10deg);
  z-index: 1;
}

.left-slides__slide {
  position: absolute;
  height: 100%;
  width: 135%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  transform: skew(10deg);
  top: 0;
  z-index: 1;
}

.left-slides__slide h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -130px;
}

.right-slides {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0%;
  width: 80%;
  z-index: 0;
}

.right-slides__slide {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

@media screen and (max-width: 1024px) {
  .left-slides {
    transform: skew(-5deg);
  }
  .left-slides__slide {
    transform: skew(5deg);
  }

  .left-slides__slide h1 {
    font-size: 32px;
  }
}

@media screen and (max-width: 600px) {
  .left-slides__slide {
    display: none;
  }

  .right-slides {
    width: 100%;
  }
}

button {
  position: absolute;
  left: 50%;
  border-radius: 50%;
  z-index: 100;
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
}

.down-button {
  bottom: 2%;
}

.up-button {
  top: 2%;
}

.transition {
  transition: all 0.5s ease-in-out;
}

.current-slide {
  top: 0;
  z-index: 100;
}

.upper-slide {
  top: -100%;
  /* transform: translate(0, -100%);*/
  z-index: 100;
}

.lower-slide {
  top: 100%;
  /*  transform: translate(0, 100%);*/
  z-index: 100;
}
