.picture-explore {
  &__container {
    height: 710px;
    position: relative;

    @media (max-width: $break-laptop) {
      top: 10px;
    }
  }

  & .wrapper__flex {
    @media (max-width: $break-laptop) {
      flex-direction: column;
      align-items: center;
    }
  }

  & .section__half-with-gap {
    @media (max-width: $break-laptop) {
      max-width: none;
    }
  }
}

.picture-explore__img {
  position: relative;
  left: 0;

  &_before {
    position: absolute;
    top: -10px;
    width: 61%;
    height: 100%;
    background-image: url("../assets/img/explore-slider/before.jpg");
    background-size: cover;
  }

  &_after {
    position: relative;
    width: 720px;

    @media (max-width: $break-laptop) {
      width: 100%;
    }
  }
}

.wand {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40px;

  &__donut {
    display: block;
    position: absolute;
    top: calc(50% - 20px);
    right: -20px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: solid 5px #fff;
  }

  &__rod {
    position: absolute;
    top: 0;
    bottom: auto;
    right: -3px;
    width: 5px;
    height: calc(50% - 20px);
    background-color: #fff;

    &_bottom {
      top: auto;
      bottom: 0;
    }
  }
}
