.video-journey {
  & .section__text {
    @media (max-width: $break-small-laptop) {
      display: none;
    }
  }

  &__slider {
    & iframe {
      width: 30%;
      height: 170px;
      column-gap: 10px;
    }
  }
}
