.categories {
  position: relative;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;

  row-gap: 2.5rem;

  width: 100%;
  max-width: 1440px;
  //height: 100%;
  padding: 1.5rem 2.2rem;
  background-color: $main-background;

  @media (min-width: $break-laptop) {
    padding: 3rem 3rem;
    row-gap: 0;
  }

  @media (min-width: $break-laptop-L) {
    height: 100%;
  }
}
