.menu {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem 0;
  border: 1px solid #fff;
  border-radius: 2rem 2rem 0 0;
  background-color: $main-background;

  @media (min-width: $break-tablet) {
    position: absolute;
    width: auto;
    top: 0;
    bottom: auto;
    left: 50%;
    transform: translate(-20%);
    gap: 4rem;
    padding: 3rem 0 2rem;
    border: none;
    background-color: transparent;
  }

  transition: bottom 1s ease-in;
  z-index: 10;

  &:hover {
    bottom: 0%;
  }

  &__icon {
    background-size: 2.4rem;
    background-position: top;
    background-repeat: no-repeat;
    padding: 3rem 0 1rem;
    margin: 0;
    color: #fff;
    text-decoration: none;

    @media (min-width: $break-tablet) {
      background-size: 0;
      padding: 0;
    }

    &:hover {
      color: $color-active;
    }

    &:active {
      color: $color-active;
    }
  }
}

.icon_home {
  background-image: url("./assets/svg/home-icon.svg");
}

.icon_categories {
  background-image: url("./assets/svg/caterory-icon.svg");

  .categories & {
    color: rgb(200, 200, 0);
  }
}

.icon_score {
  background-image: url("./assets/svg/star-icon.svg");

  .score ~ .menu & {
    color: rgb(200, 200, 0);
  }
}

.hide-page .footer-menu {
  bottom: -100%;
}
