.timer {
  display: flex;
  width: 100%;
  padding: 1.4rem 2rem 2rem 4rem;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  gap: 2rem;

  &__range {
    -webkit-appearance: none;
    height: 0.5rem;
    width: 80%;
    max-width: 640px;
    align-self: center;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
    }
  }

  &__seconds {
    font-size: 1.8rem;
    line-height: 2rem;
    width: 3rem;
  }
}
