.card {
  display: block;
  text-decoration: none;
  color: $font-color-dark;
  margin-top: 75px;

  @media (max-width: $break-laptop) {
    margin-top: 60px;
  }

  &:hover .title {
    color: $font-gold;
  }

  &:hover .card__title:after {
    width: 100%;
  }

  &__img {
    width: 440px;

    @media (max-width: $break-laptop) {
      width: 330px;
    }
  }

  &__title {
    position: relative;
    font-size: $font-size-2;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;

    @media (max-width: $break-laptop) {
      width: 330px;
      font-size: $font-size-2-laptop;
      line-height: 31px;
    }

    &:after {
      display: block;
      position: relative;
      top: 9px;
      content: "";
      width: 300px;
      height: 2px;
      background-color: #710707;
      transition: width 0.5s;

      @media (max-width: $break-laptop) {
        width: 150px;
      }
    }

    &_narrow {
      @media (max-width: $break-laptop) {
        letter-spacing: 3px;
      }
    }
  }

  &__subtitle {
    font-size: $font-size-4;
    font-weight: 200;
    margin-bottom: 10px;

    @media (max-width: $break-laptop) {
      font-size: $font-size-4-laptop;
      line-height: 24px;
    }

    &-description {
      font-size: $font-size-5;
      font-weight: 200;

      @media (max-width: $break-laptop) {
        font-size: $font-size-5-laptop;
      }
    }
  }
}
