.gallery__colomns {
  position: relative;
  column-width: 456px;
  column-count: 3;
  column-gap: 36px;
  row-gap: 24px;
  width: 1440px;
  margin-top: 75px;
  overflow: hidden;
}

.gallery_img {
  display: block;
  width: 456px;
  margin-bottom: 24px;

  &:nth-child(5n) {
    break-after: column;
  }

  &:nth-child(10n + 1) {
    margin-top: 50px;
  }
}
