.logo {
  transition: all 0.31s;

  &:hover {
    color: var(--font-gold);
    filter: invert(49%) sepia(4%) saturate(3412%) hue-rotate(356deg)
      brightness(110%) contrast(77%);
  }

  &__icon {
    display: inline-block;
    position: relative;
    top: 10px;
    width: 50px;
    height: 34px;
    margin-right: 20px;
    background-image: url("../assets/svg/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: $break-phone) {
      top: 0;
      width: 29px;
      height: 16px;
      margin-right: 20px;
      background-size: cover;
    }

    &_big {
      width: 85px;
      height: 50px;
      filter: invert(49%) sepia(4%) saturate(3412%) hue-rotate(356deg)
        brightness(110%) contrast(77%);
      background-size: cover;
    }
  }

  &__text {
    display: inline;
    font-family: "Forum", cursive;
    font-size: $font-size-3;
    color: $bg-light;
    font-weight: 400;
    letter-spacing: 5px;
    line-height: 50px;
    text-decoration: none;
    text-transform: uppercase;

    @media (max-width: $break-phone) {
      font-size: $font-size-subtitle-phone;
      line-height: 18px;
    }
  }
}
