.tool-bar__button {
  display: block;
  height: 30px;
  width: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 50%;
  }
}

.tool-bar__previous {
  background-image: url("../assets/svg/Previous_button.svg");
}

.tool-bar__play {
  background-image: url("../assets/svg/Play_button.svg");
}

.tool-bar__next {
  background-image: url("../assets/svg/Next_button.svg");
}

.tool-bar__volume {
  background-image: url("../assets/svg/Volume_button.svg");

  @media (max-width: $break-small-laptop) {
    height: 20px;
    width: 26px;
  }
}

.tool-bar__full-screen {
  height: 36px;
  width: 36px;
  background-image: url("../assets/svg/Full_screen_button.svg");

  @media (max-width: $break-small-laptop) {
    height: 26px;
    width: 26px;
  }
}

.tool-bar__time-bar {
  max-width: 930px;
}

.tool-bar__volume-bar {
  max-width: 155px;
}

.tool-bar__progress {
  height: 8px;
  flex-grow: 2;
  background: linear-gradient(
    to right,
    $dark-red 0%,
    $dark-red 45%,
    $bg-light 45%,
    $bg-light 100%
  );
  -webkit-appearance: none;

  &::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border: 1px solid #24809e;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #fff;
  }
}
