.show-page {
  animation: from-right 0.7s ease-in-out;
}

.hide-page {
  animation: to-left 2.7s ease-in-out forwards;
}

@keyframes from-right {
  from {
    transform: translate(100%);
  }
  to {
    transform: translate(0);
  }
}

@keyframes to-left {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-100%);
  }
}
