.logo {
  width: 16rem;
  height: 6rem;
  background: url("./assets/svg/logo.svg") no-repeat center;
  background-size: contain;
}

.rss-logo {
  width: 6rem;
  height: 2.4rem;
  background: url("./assets/svg/rs_school.svg") no-repeat center;
  background-size: contain;
}
