.logo {
  width: 16rem;
  height: 6rem;
  background-image: url("./assets/svg/logo.svg");
  background-size: cover;
}

.rss-logo {
  width: 6rem;
  height: 2.4rem;
  background: url("./assets/svg/rs_school.svg") no-repeat;
  background-size: cover;
}
