.settings-icon {
  &_icon {
    width: 3.4rem;
    height: 3.4rem;
    background: url("./assets/svg/settings-icon.svg") no-repeat;
    background-size: cover;
  }

  &_top-right {
    position: absolute;
    top: 2.2rem;
    right: 2.2rem;
    z-index: 10;
  }
}
