.card-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 2rem;

  @media (max-width: $break-laptop-L) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: $break-laptop) {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  @media (max-width: $break-mobile-L) {
    grid-template-columns: repeat(1, 1fr);
  }
}