.start-page {
  height: calc(100vh - 20rem);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 4rem;
    margin-bottom: 8rem;
    color: #fff;
    font-weight: 400;
    text-align: center;
    border: 3px solid #278D9F;
    border-radius: 2.5rem;
    background-color: rgba(31, 112, 127, 0.3);
    backdrop-filter: blur(6px);
    font-size: var(--h1-font-size);
    text-transform: uppercase;

    &_inherit {
      font-size: inherit;
      font-weight: inherit;
    }
  }
}