.tree-container {
  
}

.tree {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-auto-rows: 1fr;
  column-gap: 2rem;
  height: calc(100vh - 20rem);
  padding: 4rem 0 0 0;

  &__background {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}