body {
  font-family: "Gilroy", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;

  position: absolute;
  content: "";
  width: 100vw;
  height: 100vh;
  background: url("./assets/img/31full.jpg") no-repeat top;
  background-size: 100vmax;
  color: #fff;
}

h1 {
  font-size: 4rem;
  line-height: 4.2rem;
  margin: 0.5em 0;
}

h2 {
  font-size: 2.4rem;
  line-height: 2.8rem;
}

h4 {
  font-size: 1.6rem;
  line-height: 1.8rem;
  margin: 1.3em 0 0.5em;
}

h5 {
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin: 1em 0 1em;
}
