body {
  font-family: "Gilroy", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;

  position: absolute;
  content: "";
  width: 100vmax;

  height: 100vh;

  color: #fff;

  background: url("./assets/img/31full.jpg") no-repeat top;
  background-size: 100vmax;
}
