$color-active: #ffbca2;
$main-background: #000;

$break-desktop: 1600px;
$break-laptop-L: 1440px;
$break-laptop: 1024px;
$break-tablet: 768px;
$break-tablet-S: 512px;
$break-mobile-L: 425px;
$break-mobile-M: 375px;
$break-mobile-S: 320px;
