.booking__form {
  position: relative;
  width: 100%;
  column-gap: 20px;

  @media (max-width: $break-tablet) {
    column-gap: 30px;
    margin-bottom: 15px;
  }

  & .form_full,
  & .form_half {
    height: 45px;
    margin-bottom: 20px;
  }

  & .form_full {
    width: 100%;
  }

  & .form_half {
    //max-width: 190px;
    flex-grow: 1;
  }

  & select {
    font-size: $font-size-5;
    font-family: $font-family-main;
  }
}

.form__icon {
  display: block;
  width: 15px;
  height: 15px;
  padding-left: 45px;
  border-width: 1px;
  background-repeat: no-repeat;
  background-position: 15px;
  font-size: $font-size-5;

  &_date::before,
  &_time::before {
    display: block;
    position: relative;
    left: 0;
    content: "";
    width: calc(100% - 20px);
    font-size: $font-size-5;
    font-family: $font-family-main;
  }

  &_date::before {
    content: "Date";
    font-family: $font-family-main;
  }

  &_time::before {
    content: "Time";
  }

  &_date::after,
  &_time::after {
    position: relative;
    top: 0;
    right: 17px;
    width: 20px;
    height: 17px;
    //content: "";
    //background-repeat: no-repeat;
    //background-image: url("../assets/svg/arrow.svg");
  }

  &:focus::before,
  &:valid::before {
    display: none;
  }

  &::-webkit-calendar-picker-indicator {
    width: 18px;
    height: 17px;
    position: relative;
    top: 0;
    right: 10px;
    background-repeat: no-repeat;
    background-image: url("../assets/svg/arrow.svg");
    //opacity: 0;
    //z-index: 2;
  }

  &::-webkit-input-placeholder {
    color: $font-color-dark;
    font-size: $font-size-5;
    font-family: $font-family-main;
  }

  &_date {
    background-image: url("../assets/svg/date.svg");
  }

  &_time {
    background-image: url("../assets/svg/time.svg");
  }

  &_name {
    background-image: url("../assets/svg/name.svg");
  }

  &_email {
    background-image: url("../assets/svg/email.svg");
  }

  &_tel {
    background-image: url("../assets/svg/tel.svg");
  }

  &_type {
    background-repeat: no-repeat, no-repeat;
    background-position: 15px, calc(100% - 15px);
    background-image: url("../assets/svg/ballot.svg"),
      url("../assets/svg/arrow.svg");
    -webkit-appearance: none;
  }
}

.entry-ticket {
  border: 1px solid $bg-dark;
  padding: 10px 15px 0;
  font-size: $font-size-5;

  &__title {
    width: 100%;
    font-family: $font-family-title;
    line-height: 20px;
    text-transform: capitalize;
    color: $font-gold;
    margin-bottom: 20px;
    font-size: $font-size-5;
    font-weight: 400;

    &:after {
      display: block;
      position: relative;
      top: 5px;
      width: 100%;
      height: 2px;
      content: "";
      background-color: $dark-red;
    }
  }

  &__text {
    color: $font-color-dark;
    font-weight: 400;
    width: 45%;
  }
}
